.logoNavbar{
    width: 70px;
}
.estilosNavbar{
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0px 4px 4px;
    background-color:rgb(74, 128, 128);  
}

.aNavbar{
    border-radius: 20px;
    font-size: 1.1rem;
}
.aNavbar:hover{
    background-color: rgb(199, 250, 251);
    border-radius: 20px;
    transform: scale(1.1);
    font-weight: bold;
}
.carruselImg{
    width: 100%;
    height: 600px;
}
.sloganMain{
    margin-bottom: 12rem;
    font-size: 2rem;
    box-shadow: 5px 5px 5px 5px;
    color: rgb(74, 128, 128);
    font-weight: bold;
}
.fotoPerfil{
   border-radius: 350px;
}
.perfil1{
    margin-top: 10rem;
}